/*Fonts project*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
@import "slick-theme.css";
@import "slick.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  text-decoration-skip-ink: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Raleway', sans-serif;
}

body{
  background: #F5F5F5;
}

.wrapper {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-top {
  background: #eaf0f2;
  padding: 10px 0 11px;
}

.top-nav {
  display: flex;
}

.top-nav__link:not(:last-child) {
  margin-right: 26px;
}

.top-nav__link a {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #858585;
}

.header-bottom {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}

.header-bottom-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header-search {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 505px;
  width: 100%;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 2px;
  transition: .3s;
}

.header-search.active{
  border: 1px solid #08B8BD;
}

.header-search:hover{
  border: 1px solid #08B8BD;
}

.header-search label {
  width: 100%;
}

.header-search__el {
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #858585;
  padding: 0 20px 0;
}

.header-search__el::placeholder {
  width: 35%;
  height: 100%;
  padding: 0;
  background: url("../assets/img/search.svg") no-repeat 90% top;
}

.btn-bg {
  background: #059ea3;
  border-radius: 5px;
  padding: 10px 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  transition: 0.3s;
}


.btn-bg:hover {
  cursor: pointer;
  background: #08b8bd;
  border-color: #08b8bd;
}

.btn-white {
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #059ea3;
  background: #fff;
  border: 1px solid #059ea3;
  border-radius: 6px;
  transition: .3s;
  padding: 12px 22px 13px;
}

.btn-white:hover {
  background: #fff;
  border: 1px solid #08b8bd;
  color: #08b8bd;
  cursor: pointer;
}

.header-account {
  display: flex;
  align-items: center;
  gap: 10px;
}


.btn {
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2a3548;
  background: #ffe35c;
  border-radius: 6px;
  padding: 12px 19px;
  transition: 0.3s;
}

.btn:hover {
  background: #ffea87;
  cursor: pointer;
}

.submit-an-ad {
  display: flex;
  align-items: center;
}

.submit-an-ad--mobile{
  display: none;
}

.submit-an-ad svg {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

.btn--main-search{
  display: flex;
  align-items: center;
  padding: 12px 18px;
}

.btn--main-search svg{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.form-group-search{
  position: relative;
}

.page-container{
  display: flex;
  gap: 30px;
}

.aside{
  width: 255px;
  flex-shrink: 0;
}

.page{
  margin-top: 18px;
}

.page-content{
  width: calc(100% - 285px);
  flex-grow: 1;
  padding-bottom: 40px;
}

.main{
  padding: 46px 19px 25px 40px;
  border-radius: 6px;
}

.main__title{
  max-width: 345px;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.main__title span{
  display: inline-block;
  font-size: 36px;
  line-height: 42px;
  font-style: italic;
  padding: 5px 19px 6px;
  color: #059EA3;
  background: #FFFFFF;
  border-radius: 35px;
  margin-top: 5px;
}

.main__description{
  max-width: 293px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 12px;
}

.main-search{
  display: flex;
  gap: 10px;
  padding: 12px 20px 13px ;
  background: #FFFFFF;
  border-radius: 6px;
  margin-top: 52px;
}

.main-search-form{
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.form-group-search{
  display: flex;
  flex-direction: column;
}

.form-group-search:not(:last-child){
  flex-grow: 1;
}

.form-group-search--select{
  width: 28%;
}

.form-group-search--select-new{
  width: 34%;
}

.form-group-search label{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #2A3548;
  margin-bottom: 9px;
}

.form-search-input,
.jq-selectbox__select{
  min-height: 40px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 6px;
  padding: 13px 20px 12px ;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #858585;
  cursor: pointer;
}

.jq-selectbox__select{
  position: relative;
}

.jq-selectbox__select:after{
  position: absolute;
  content: url("../assets/img/arrow-bottom.svg");
  top: 11px;
  right: 19px;
}

select.custom-select {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  left: 0;
  z-index: -1;
}

.custom-select{
  position: relative;
}

.jq-selectbox__dropdown{
  position: absolute;
  padding: 5px;
  height: min-content !important;
  overflow-y: scroll;
  top: 41px !important;
  width: 100% !important;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 0 0 6px 6px;
}

.jq-selectbox__dropdown li{
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #797979;
  padding: 10px 0 11px;
  transition: 0.3s;
  cursor: pointer;
  border-top: 1px solid transparent;
}

.jq-selectbox__dropdown li:not(:last-child){
  border-bottom: 1px solid #E2E2E2;
}

.jq-selectbox__dropdown li:hover{
  position: relative;
  top: -1px;
  background: #FFE35C;
  border-radius: 3px;
  color: #2A3548;
  margin: 0 -15px 0;
  padding: 11px 15px 10px;
  border-color: transparent;
  border-top: 2px solid transparent;
}

.jq-selectbox__dropdown li:hover:has(+ next){
  border-color: transparent;
}

.jq-selectbox__dropdown ul{
  padding: 0 15px;
}


.jq-selectbox.opened .jq-selectbox__select{
  border-radius: 6px 6px 0 0;
}

.viewed{
  position: relative;
  padding-top: 40px;
}

.viewed-slider{
  display: flex;
}

.viewed-slider .slick-slide {
  margin: 0 5px;
}

/* Родительский элемент */
.viewed-slider .slick-list {
  margin: 0 -5px;
}

.viewed-slider__item{
  position: relative;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.viewed-slider__item-img{
  display: block;
  width: 100%;
  height: 233px;
  overflow: hidden;
}

.viewed-slider__item-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viewed-slider__item-description{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 15px;
}

.viewed-slider__item-title{
  min-height: 46px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2A3548;
  transition: 0.3s;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.viewed-slider__item-title:hover{
  color: #059EA3;
  text-decoration-line: underline;
}

.viewed-slider__item-data{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #797979;
}

.favorite-card{
  position: absolute;
  width: 22px;
  height: 19px;
  top: 10px;
  right: 10px;
  background: url("../assets/img/favorite.svg") no-repeat center;
  transition: 0.3s;
}

.favorite-card:hover{
  background: url("../assets/img/favorite-hover.svg") no-repeat center;
}

.favorite-card.active{
  background: url("../assets/img/favorite-active.svg") no-repeat center;
}

.viewed-slider-arrows{
  position: absolute;
  width: 100%;
  top: 58%;
  display: flex;
  justify-content: space-between;
}

.viewed-slider-prev,
.viewed-slider-next{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  cursor: pointer;
}

.viewed-slider-prev svg,
.viewed-slider-next svg {
  width: 10px;
  height: 10px;
}

.title-section{
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
}

.viewed-slider-prev svg,
.viewed-slider-next svg{
  fill: #2A3548 ;
  transition: 0.3s;
}

.viewed-slider-prev:hover svg,
.viewed-slider-next:hover svg{
  fill: #059EA3;
}

.viewed-slider-prev{
  left: -20px;
}

.viewed-slider-next{
  right: -20px;
}

.banner-mini{
  display: flex;
  justify-content: space-around;
  padding: 18px 0;
  background: url("../assets/img/banner-mini.jpg") no-repeat center/cover;
  margin-top: 40px;
}

.banner-mini-title{
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner-mini-title span{
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.banner-mini-title i{
  font-style: italic;
  text-transform: lowercase;
}

.banner-mini-cnt{
  padding: 15px 20px 6px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 22px 18px rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15.5px);
  border-radius: 12px;
  font-weight: 800;
  font-size: 46px;
  line-height: 39px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2A3548;
}

.banner-mini-cnt span{
  display: block;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #2A3548;
  text-align: right;
}

.announcements{
  padding-top: 40px;
}

.announcements-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announcements-switch{
  display: flex;
  gap: 12px;
}

.announcements-switch__item{
  width: 22px;
  height: 18px;
  overflow: hidden;
  cursor: pointer;
}


.switch-list svg{
  fill: #797979;
  transition: 0.3s;
}

.switch-list.active svg,
.switch-list:hover svg{
  fill: #2A3548;
}

.switch-card svg{
  fill: white;
  stroke: #797979;
  transition: 0.3s;
}

.switch-card.active svg,
.switch-card:hover svg{
  stroke: #2A3548;
}

.announcements-content{
  display: flex;
  flex-direction: column;
  padding: 5px 0 20px;
}

.announcements-content__item{
  display: none;
}

.announcements-content__item.active{
  display: flex;
}

.announcements-content__item--list{
  width: 100%;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}

.announcements-list__item{
  width: 100%;
  display: flex;
  border-radius: 3px;
  background: #FFFFFF;
}

.announcements-img{
  width: 131px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
}

.announcements-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.announcements-description{
  display: flex;
  flex-direction: column;
  padding: 15px 18px 15px 30px;
  flex-grow: 1;
}

.announcements-description__head{
  position: relative;
  display: flex;
  flex-grow: 1;
}

.announcements-description__head h3{
  max-width: 554px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-bottom: 22px;
  color: #2A3548;
  transition: 0.3s;
}

.announcements-description__head h3:hover{
  color: #059EA3;
}

.announcements-description__head .favorite-card{
  top: 0;
  right: 0;
}

.announcements-description__location{
  display: flex;
  justify-content: space-between;
}

.location{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #797979;
}

.location svg{
  width: 13px;
  height: 18px;
  margin-right: 12px;
}

.announcements-data{
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #797979;
}

.announcements-content__item--card{
  flex-wrap: wrap;
  margin: -7.5px;
  padding: 5px 0 20px;
}

.announcements-card__item{
  position: relative;
  width: calc(33.3% - 15px);
  margin: 7.5px;
  background: #FFFFFF;
  border-radius: 3px;
}

.announcements-card__item-img{
  display: block;
  width: 100%;
  height: 214px;
  overflow: hidden;
}

.announcements-card__item-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.announcements-card__item--title{
  min-height: 32px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2A3548;
  transition: 0.3s;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.announcements-card__item--title:hover{
  color: #059EA3;
  text-decoration-line: underline;
}

.w-1700{
  display: none;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px;
  border-top: 1px solid #D3D3D3;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-arrow-right,
.pagination-arrow-left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #BCBCBC;
  transition: 0.3s;
}

.pagination-arrow-left {
  margin-right: 15px;
  cursor: pointer;
}

.pagination-arrow-right {
  margin-left: 15px;
  cursor: pointer;
}


.pagination-arrow-left svg,
.pagination-arrow-right svg{
  width: 8px;
  height: 8px;
  fill: #BCBCBC;
}

.pagination-arrow-left.active svg,
.pagination-arrow-right.active svg{
  fill: #059EA3;
}

.pagination-arrow-left.active:hover,
.pagination-arrow-right.active:hover{
  border: 1px solid #059EA3;
}


.pagination-list__item a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #797979;
  padding: 6px 5px;
  transition: .3s;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.pagination-list__item:not(:last-child) {
  margin-right: 28px;
}

.pagination-list__item.active a {
  color: #059EA3;
}

.pagination-list__item:hover a {
  color: #08B8BD;
}

.footer-top{
  background: #E5EAEC;
  padding: 13px 0;
}

.top-nav__link--footer a{
  color: #2A3548;
  font-weight: 700;
}

.footer-content{
  padding: 33px 0;
}

.footer-content .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text{
  max-width: 701px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #2A3548;
}

.social-media{
  display: flex;
  align-items: center;
}

.social-media__item{
  transition: .3s;
}

.social-media__item:hover{
  transform: scale(1.15);
}

.social-media__item:not(:last-child){
  margin-right: 25px;
}

.social-media__item svg{
  width: 18px;
  height: 16px;
}

.aside__item-btn{
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-category{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 11px 20px 11px;
  border: 2px solid #059EA3;
}

.btn-category svg{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.btn-filter{
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 12.5px 36px;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #797979;
}

.btn-filter svg{
  width: 10px;
  height: 12px;
  margin-left: 6px;
}

.category-list{
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px 30px 20px 0;
  margin-top: 20px;
}

.category-list__item{
  padding-left: 20px;
}

.category-list__item:not(:last-child){
  margin-bottom: 9px;
}

.category-list__item a{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #2A3548;
  transition: .3s;
}

.category-list__item.active a{
  font-weight: 700;
}

.category-list__item:hover a{
  color: #059EA3;
}

.category-list__item svg{
  width: 16px;
  height: 16px;
  fill: #2A3548;
  margin-right: 5px;
}

.category-list__item.no-fill svg{
  fill: white;
}

.aside-form{
  background: #FFFFFF;
  border-radius: 6px;
  margin-top: 10px;
  padding: 20px 10px 30px;
}

.aside-form__item{
  width: 100%;
  margin-bottom: 15px;
}

.form-group-range{
  display: flex;
  margin: 0 -5px;
}

.range__item{
  width: 50%;
  margin: 0 5px;
}

.range__item-input{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  padding: 11px 15px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2A3548;
}

.form-search-input{
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2A3548;
}

.form-group-search input:focus{
  border: 1px solid #08B8BD;
}

input:valid:not(:placeholder-shown) {border: 1px solid #059EA3;}

.form-group-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}

.form-group__item label{
  display: block;
  font-weight: 400;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #797979;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  cursor: pointer;
  margin: 0;
}
.form-group__item label:has(+input[type=radio]:checked){
  border: 1px solid #059EA3;
}

.form-group__item .label-checkbox{
  border: none;
  padding: 0;
}

.checkbox{
  display: flex;
  flex-direction: column;
  position: relative;
}

/* для элемента label, связанного с .custom-checkbox */
.label-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.label-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #797979;
  border-radius: 3px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.label-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #059EA3;
}


/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.label-checkbox>input:focus:not(:checked)+span::before {
  border-color: #059EA3;
}

/* стили для чекбокса, находящегося в состоянии checked */
.label-checkbox>input:checked+span::before {
  border-color: #059EA3;
  background-color: #059EA3;
  background-image: url("../assets/img/check.svg");
}

.label-checkbox span{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #797979;
}

.aside-form-search .btn--main-search{
  width: 100%;
  justify-content: center;
}

.btn-reset{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #797979;
  margin-top: 15px;
}

.btn-reset svg{
  width: 7px;
  height: 7px;
  fill: #797979;
  margin-right: 8px;
}

.category-pop-up{
  width: 100%;
  position: fixed;
  z-index: 11;
  left: -150%;
  top: 125px;
  padding: 20px 0 25px;
  background: #FFFFFF;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}

.category-pop-up.active{
  left: 0;
}

.category-content{
  display: none;
  margin-top: 8px;
  padding-left: 40px;
  border-left: 1px solid #D3D3D3;
}

.category-content.is-active{
  display: block;
}

.category-content-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 642px;
  gap: 15px 35px;
  padding-bottom: 60px;
}

.subcategory__item a{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #2A3548;
  transition:  0.3s;
}

.subcategory__item:first-child a{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #2A3548;
}

.subcategory__item{
  max-width: 176px;
  margin-bottom: 3px;
}

.subcategory__item:first-child{
  margin-bottom: 5px;
}

.subcategory__item:hover a{
  color: #059EA3;
}

.category-pop-up .category-list{
  margin-top: 0;
}

.category-pop-up .category-list__item{
  position: relative;
  padding: 8px 0 8px 20px;
  margin: 0;
}

.category-pop-up .category-list__item.is-active{
  background: #FFE35C;
  border-radius: 3px;
}

.category-list__item.is-active:after{
  position: absolute;
  right: 20px;
  top: 6px;
  content: url("../assets/img/category-arrow.svg");
}

.btn-category-close{
  background: #FFFFFF;
  border: 2px solid #059EA3;
  border-radius: 6px;
  color: #059EA3;
}

.btn-category-close:hover{
  border: 2px solid #08B8BD;
  color: white;
  background: #08B8BD;
}

.btn-category-close svg{
  width: 14px;
  height: 14px;
  stroke: #059EA3;
}

.btn-category-close:hover svg{
  stroke: white;
}

.mobile-input-search{
  display: none;
}

.popUp-overlay{
  position: fixed;
  z-index: 11;
  background: white;
  width: 100%;
  top: 0;
  left: -100%;
  transition: 0.3s;
}

.mobile_menu{
  display: none;
}

.sign-in--mobile{
  display: none;
}

@media (min-width: 1500px) {
  .wrapper {
    max-width: 2000px;
    padding: 0 150px;
    margin: 0 auto;
  }
}

@media (min-width: 1500px) {
  .aside{
    width: 327px;
  }
}

@media (min-width: 1500px) {
  .announcements-card__item {
    width: calc(25% - 15px);
  }

  .w-1700{
    display: block;
  }
}

@media (max-width: 1220px) {
  .viewed-slider-arrows{
    display: none;
  }

  .submit-an-ad{
    display: none;
  }

  .submit-an-ad--mobile{
    display: flex;
    padding: 11px;
  }

  .submit-an-ad--mobile svg{
    width: 11px;
    height: 11px;
    margin: 0;
  }

  .viewed-slider{
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 22px;
  }

  .viewed-slider__item-img{
    width: 268px;
  }
}

@media (max-width: 1024px) {
  .page-container{
    flex-direction: column;
    gap: 15px;
  }

  .page{
    margin-top: 15px;
  }

  .aside,
  .page-content{
   width: 100%;
  }

  .aside__item-category{
    display: none;
  }

  .aside__item-form{
    position: fixed;
    width: 100%;
    height: calc(100vh - 125px);
    overflow-y: auto;
    left: -100%;
    top: 58px;
    background: #fff;
    transition: 0.3s;
    padding: 0 15px 30px;
    z-index: 11;
  }

  .aside__item-form.active{
    left: 0;
  }

  .aside-form__item--btn{
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 100%;
    padding: 15px 26px;
    background: #FFFFFF;
    box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.04);
    transition: 0.3s;
  }

  .aside__item-form.active .aside-form__item--btn{
    left: 0;
  }

  .btn-reset--scroll{
    display: none;
  }

  .btn-reset--scroll.active{
    display: flex;
  }

  .popUp-overlay.active{
   left: 0;
  }

  .popUp-overlay-header{
    position: relative;
    text-align: center;
    padding: 19px 0;
    margin: 0 10px;
    border-bottom: 1px solid #D3D3D3;
  }

  .popUp-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2A3548;
  }

  .popUp-cross{
    position: absolute;
    top: 22px;
    right: 11px;
  }

  .popUp-cross svg{
    width: 12px;
    height: 12px;
  }

  .main{
    padding: 46px 19px 160px 40px;
  }

  .main-search{
    display: none;
  }

  .btn-filter{
    display: flex;
  }

  .aside-form{
    margin-top: 0;
  }

  .mobile-input-search{
    display: flex;
  }

  .btn-category-open{
    display: none;
  }

  .mobile_menu{
    display: flex;
  }

  .category-pop-up{
    display: none;
  }
}

@media (max-width: 900px) {
  .header-search .btn-search{
    display: none;
  }

  .header-search__el{
    padding: 8px 20px 8px 35px;
    background: url("../assets/img/search.svg") no-repeat 6px 48%;
  }

  .header-search__el::placeholder {
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
  }

  .menu-subcategory {
    padding-left: 20px;
    margin: 0 39px 0 50px;
  }

  .header-top{
    display: none;
  }

  .header-bottom-content{
   flex-wrap: wrap;
  }

  .header-search{
    order: 3;
    width: 100%;
  }

  .sign-in{
    display: none;
  }

  .sign-in--mobile{
    display: flex;
    padding: 9px;
  }

  .sign-in--mobile svg{
    width: 15px;
    height: 15px;
  }

  .sign-in--mobile,
  .submit-an-ad--mobile{
    width: 33px;
    height: 33px;
  }

  .banner-mini{
   margin-top: 30px;
  }

  .announcements-description__head h3{
   max-width: 80%;
  }

  .announcements-content{
   padding-bottom: 10px;
  }

  .pagination{
    padding: 20px 0 0;
  }

  .announcements-content__item--list{
   padding-bottom: 30px;
  }

  .announcements-content__item--card{
   padding-bottom: 30px;
  }
}

.aside__item-form::-webkit-scrollbar,
.mobile_menu_container ul.activity::-webkit-scrollbar,
.mobile_menu_content::-webkit-scrollbar{
  width: 9px;
}

.aside__item-form::-webkit-scrollbar-track,
.mobile_menu_container ul.activity::-webkit-scrollbar-track,
.mobile_menu_content::-webkit-scrollbar-track{
  background: white;
}

.aside__item-form::-webkit-scrollbar-thumb,
.mobile_menu_container ul.activity::-webkit-scrollbar-thumb,
.mobile_menu_content::-webkit-scrollbar-thumb{
  background: #059EA3;
  border: 2px solid white;
}

.viewed-slider::-webkit-scrollbar{
  height: 5px;
}
.viewed-slider::-webkit-scrollbar-track{
  background: #E2E2E2;
  border: 2px solid #F5F5F5;;
}
.viewed-slider::-webkit-scrollbar-thumb{
  background: #059EA3;
}



.mobile_menu_overlay, .mobile_menu_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.mobile_menu_container, .mobile_menu_container ul li ul {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}
.mobile_menu_overlay {
  display: none;
  cursor: pointer;
  z-index: 10200;
  background: rgba(0, 0, 0, 0.5);
}
.mobile_menu_container {
  -webkit-transform: translateX(456px);
  transform: translateX(456px);
  width: 456px;
  overflow: hidden;
  z-index: 10201;
  background: white;
}

.mobile_menu_content__title {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-align: center;
  color: #2A3548;
  background: white;
  padding: 19px 0;
}

.mobile_menu__cross {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 27px;
  top: 19px;
}

.mobile_menu_container.loaded {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.mobile_menu_container .mobile_menu_content {
  overflow: auto;
  max-height: 100%;
  padding-bottom: 30px;
}
.mobile_menu_container ul {
  margin: 0;
  padding: 0;
}
.mobile_menu_container ul li {
  list-style: none;
}
.mobile_menu_container ul li a {
  display: block;
  margin: 0 39px 0 50px;
  padding: 15px 0;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-decoration-skip-ink: none;
  transition: 0.3s;
}

.mobile_menu_container ul li:not(:last-child) a {
  border-bottom: 1px solid #D3D3D3;
}

.activity .category-list__item:first-child a{
  border-top: 1px solid #D3D3D3;
}

.mobile_menu_container ul li a {
  display: flex;
  align-items: center;
}

.mobile_menu_container ul li>a{
  padding-left: 20px;
}


.menu-subcategory{
  padding: 15px 0 15px 20px;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-decoration-skip-ink: none;
  transition: 0.3s;
  border-bottom: 1px solid #D3D3D3;
  background: white url("../assets/img/arrow-bottom.svg") right 20px center no-repeat;
}

.menu-subcategory.active{
  background: white url("../assets/img/arrow-up.svg") right 20px center no-repeat;
}

.menu-subcategory-content{
  display: none;
}

.menu-subcategory-content a{
  padding-left: 20px !important;
}

.mobile_menu_container ul li a.parent {
  padding-right: 27px;
  background: white url("../assets/img/arrow-next.svg") right 20px center no-repeat;
  transition: 0.3s;
}
.mobile_menu_container ul li a.parent:hover {
  background: white url("../assets/img/arrow-next.svg") right 15px center no-repeat;
}
.mobile_menu_container ul li a.back {
  padding-left: 27px;
  background: white url("../assets/img/arrow-back.svg") left 0 center no-repeat;
  box-sizing: border-box;
  min-height: 50px;
  font-size: 14px;
  line-height: 19px;
  color: #2A3548;
  transition: 0.3s;
}
.mobile_menu_container ul li a.back:hover {
  background: white url("../assets/img/arrow-back.svg") left 5px center no-repeat;
}

.mobile_menu_container .category-list__item:hover a{
  color: #2A3548;
}

.mobile_menu_container ul li a:hover {
  background: white;
  color: #059EA3 !important;
  transition: 0.3s;
}

.mobile_menu_container ul li ul {
  -webkit-transform: translateX(456px);
  transform: translateX(456px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
}

.mobile_menu_container ul li ul.loaded {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.mobile_menu_container ul li ul.activity {
  overflow-y: auto;
  overflow-x: hidden;
}

.mobile_menu_container .category-list__item{
  margin-bottom: 0;
  padding-left: 0;
}

@media (max-width: 700px) {
  .announcements-content__item--card{
    margin: -5px;
  }
  .announcements-card__item {
    position: relative;
    width: calc(50% - 10px);
    margin: 5px;
  }

  .footer-content{
   padding: 25px 0;
  }

  .footer-content .wrapper{
    flex-direction: column;
  }
  .footer-text{
    margin-bottom: 20px;
  }

  .banner-mini{
    flex-direction: column;
    align-items: center;
    padding: 71px 0;
    background: url(../assets/img/banner-mini-mobile.jpg) no-repeat center/cover;
  }

  .banner-mini-title{
    text-align: center;
    margin-bottom: 28px;
  }
}


@media (max-width: 560px) {
  .mobile_menu_container ul li a {
    margin: 0 15px;
  }

  .menu-subcategory{
    padding-left: 20px;
    margin: 0 15px;
  }

  .announcements-card__item-img{
    height: 111px;
  }

  .pagination-list__item:not(:last-child) {
    margin-right: 25px;
  }

  .announcements-description {
    padding: 10px 10px 10px 10px;
    flex-grow: 1;
  }

  .announcements-description__location{
   flex-direction: column;
    align-items: flex-start;
  }

  .announcements-data{
    margin-top: 10px;
  }

  .main{
    position: relative;
    padding: 0;
    height: 232px;
    margin-bottom: 137px;
  }

  .main-wrapper-text{
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .main__title{
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #2A3548;
  }

  .main__title span{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-top: 3px;
    background: #059EA3;
  }

  .main__description{
    max-width: 275px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2A3548;
  }
}

@media (max-width: 456px) {
  .mobile_menu_container {
    width: 100%;
  }
}
